---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro';
import BaseLayout from '../layout/BaseLayout.astro';
import '../styles/global.css'
const pageTitle = "Mi blog astro";
---
<BaseLayout pageTitle="Mi blog astro">
	<p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
</BaseLayout>